.welcome_to_a_bit_of_life {
  font-size: 40px;
  font-family: "LoRes 15 OT";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 204px;
  top: 263.5px;
  z-index: 3;
}