* {background-color: black}
* {color: white}
* {font-family: "LoRes 15 OT"}
* {font-weight: bold}

div.App {
  /* align-content: center;
  display: flex;
  flex-direction: column; */
  /* flex-flow: column nowrap; */
  /* margin-top: 17%; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

div#allContent {
  /* align-self: center; */
  justify-content: center;
  display: flex;
  /* flex-flow: column wrap; */
}

/* LANDING PAGE */

#WelcomePage {
  font-size: 40px;
  font-family: "LoRes 15 OT";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

button.Enter {
  font-size: 18px;
  font-family: "LoRes 15 OT";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  border: none;
  text-align: center;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 4;
}

button.Enter:active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 2px;
  border-color: transparent transparent;
}

button.Enter:focus {
  outline: transparent;
}

button#signUpFromLanding {
  top: 50%;
  left: 50%;
}

button#logInFromLanding {
  top: 54%;
  left: 50%;
}

/* HOME PAGE */

div#mainMenu {
  flex-direction: column;
}

div#mainMenu h1 {
  font-size: 40px;
  font-family: "LoRes 15 OT";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

button.homeBtn {
  font-size: 18px;
  font-family: "LoRes 15 OT";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  border: transparent solid;
  border-width: 1px;
  border-radius: 2px;
  text-align: center;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 4;
}

button.homeBtn:focus {
  outline: transparent;
}

button.homeBtn:active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 2px;
  border-color: transparent transparent;
}

button#logout {
  top: 50%;
  left: 50%;
}

button#accessPathList {
  top: 54%;
  left: 50%;
}

/* SIGNUP AND LOGIN PAGES */

div.signInUpPage {
  display: flex;
  justify-content: center;
}

div.signInUpPage form {
  border-width: 4px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
  width: 246px;
  transform: translate(-50%, -50%);
  z-index: 4;
  justify-content: center;
}

form input::placeholder {
  color: #b1b1b1;
}

form input:focus {
  outline: none;
}

form label {
  font-size: 25px;
  font-family: "LoRes 15 OT";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
}

form input {
  font-size: 18px;
  text-align: center;
  font-family: "LoRes 15 OT";
  font-weight: bold;
  color: rgb(255, 255, 255);
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-radius: 2px;
  border-style: solid;
  z-index: 5;
  height: 2em;
  margin: 1%;
  flex-grow: 1;
  flex-basis: 200px;
}

/* QUIZ PAGE */

div#quizPage {
  background-color: #d8b8f8;
  width: 100vh;
}

div#quizItem {
  background-color: #d8b8f8;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  gap: 1px;
  margin: 1%;
  height: 50vh;
  /* justify-content: center; */
}

div#quizOptionsContainer {
  background-color: white;
  border: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 4px;
  width: 65%;
  padding: 3px;
  margin: 3px;
  text-align: left;
}

div#quizOptionsContainer label {
  margin: 0;
}

div#questionContainer {
  background-color: white;
  border: rgb(0, 0, 0) solid;
  border-radius: 4px;
  padding: 3px;
  margin: 3px;
  text-align: left;
}

div#questionContainer h1 {
  background-color: white;
  color: black;
  font-family: "LoRes 15 OT";
  font-weight: bold;
  margin: 0;
}

ul#quizOptions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: white;
}

ul#quizOptions li {
  background-color: white;
  margin: 0;
  padding: 0;
}

ul#quizOptions li span {
  background-color: white;
  color: black;
  font-family: "LoRes 15 OT";
  font-weight: bold;
  font-size: 18px;
}

div#quizResultContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div#quizResultContainer h1 {
  background-color: transparent;
  color: black;
}

div#quizResultContainer button {
  background-color: #e7aa18;
  color: black;
  border: black solid;
  border-radius: 2px;
}

div#quizResultContainer button:hover, button:active {
  background-color: transparent;
  color: white;
  outline: none;
}

/* STORY PAGE */

div#storyPage {
  width: 100vh;
  border: rgba(255, 255, 255, 0.655);
  border-style: solid;
  border-radius: 1px;
}

div#volumeIcon {
  margin: 1%;
}

div#goToQuizButtonContainer {
  z-index: 4;
  display: flex;
  justify-content: center;
}

div#goToQuizButtonContainer button {
  font-size: 18px;
  font-family: "LoRes 15 OT";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  border: white solid;
  border-width: 1px;
  border-radius: 2px;
}

div#goToQuizButtonContainer button:focus {
  outline: transparent;
}

div#goToQuizButtonContainer button:active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 2px;
  border-color: transparent transparent;
}

div#storyCardContainer {
  display: flex;
  flex-direction: row;
  height: 60vh;
}

div#storyCardText {
  margin: 2%;
  width: 48%;
  align-items: stretch;
}

div#storyCardImage {
  width: 48%;
  margin: 2%;
  /* border-style: solid; */
  align-self: center;
}

div#storyCardImage img {
  width: 100%;
  /* position:absolute; */
  top:0;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 6s;
  animation-name: fade;
  animation-iteration-count: 1;
  animation-duration: 6s;
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* PATHS LIST */

div#submarineCableListContainer {
  overflow: scroll;
  border: rgba(255, 255, 255, 0.655);
  border-style: solid;
  height: 50vh;
  text-align: left;
  font-size: 20px;
}

div#submarineCableListContainer::-webkit-scrollbar {
  display: none;
}

div#submarineCableList h5:active {
  color: green;
}

button.goToMainMenu {
  font-size: 18px;
  font-family: "LoRes 15 OT";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  border: none;
  text-align: center;
  margin: 4px;
}

button.goToMainMenu:active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 2px;
  border-color: transparent transparent;
}

button.goToMainMenu:focus {
  outline: transparent;
}